@media (max-width: 768px) {
  .sidebar, .chat, .select, .rightnav-chat {
    display: none;
  }
.plus_btn {
  right: 0;
}

}

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 1085px) {
  .right_side {
    /* width: 100%; */
    min-width: 100%;
  }
}